@charset "UTF-8";
html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

address {
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  background-color: #ffffff;
  color: #757575;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
  min-width: 320px;
  overflow-y: auto;
}

header,
footer {
  flex: 0 0 auto;
}

main {
  flex: 1 0 auto;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.link {
  display: inline-block;
  text-decoration: none;
}

.title {
  color: #212121;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.logo {
  color: #2196f3;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.166;
}

.logo__text {
  color: #000000;
}

.logo__text_inverse {
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .logo {
    color: #2196f3;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
  }
  .logo__text {
    color: #000000;
  }
  .logo__text_inverse {
    color: #ffffff;
  }
}

@media screen and (min-width: 1200px) {
  .header .logo {
    margin-right: 85px;
  }
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 768px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
    background-color: #e598e740;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    background-color: #e598e740;
  }
}

.header {
  border-bottom: 1px solid #ececec;
}

.header__container {
  padding: 16px 15px;
}

.header .nav,
.header .contacts {
  display: none;
}

@media screen and (min-width: 1200px) {
  .header_main {
    border-bottom: 0;
  }
  .header__container {
    display: flex;
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .header__container .contacts {
    margin-left: auto;
  }
  .header__container .contacts__item:not(:last-child) {
    margin-right: 30px;
  }
  .contacts__link, .nav__link {
    padding-bottom: 5px;
    padding-top: 5px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contacts {
    display: flex;
    align-items: center;
  }
  .contacts__link {
    display: flex;
    align-items: center;
    color: #757575;
  }
  .contacts__link:hover, .contacts__link:focus {
    color: #2196f3;
  }
  .contacts-icon {
    margin-right: 10px;
    fill: currentColor;
  }
}

.nav,
.nav-list {
  display: flex;
  align-items: center;
}

.nav-list__item {
  position: relative;
}

.nav-list__item:not(:last-child) {
  margin-right: 50px;
}

.nav__link {
  display: flex;
  align-items: center;
  color: #212121;
}

.nav__link:hover, .nav__link:focus {
  color: #2196f3;
}

.nav__link_current::after {
  content: '';
  position: absolute;
  bottom: -27px;
  left: 0;
  width: 100%;
  height: 0;
  border: 2px solid #2196f3;
  border-radius: 2px;
}

.nav__link_current {
  color: #2196f3;
}

.hero {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding: 118px 15px;
  background-color: #2f303a;
  background-image: linear-gradient(rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url(../images/hero-mob-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-block {
  margin: auto;
}

.hero__title {
  margin-bottom: 30px;
  color: #ffffff;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero__button {
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url(../images/hero-bg.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1920px;
    padding-top: 200px;
    padding-bottom: 200px;
  }
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.button {
  display: block;
  width: 200px;
  height: 50px;
  border: 0;
  border-radius: 4px;
  background-color: #2196f3;
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.section__title {
  margin-bottom: 50px;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  text-align: center;
}

.section_secondary {
  background-color: #f5f4fa;
}

@media screen and (min-width: 768px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .section__title {
    margin-bottom: 50px;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.17;
    text-align: center;
  }
  .section_secondary {
    background-color: #f5f4fa;
  }
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .section__title {
    margin-bottom: 50px;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.17;
    text-align: center;
  }
  .section_secondary {
    background-color: #f5f4fa;
  }
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: -15px -15px;
}

.cards__item {
  padding: 15px;
}

.pack {
  font-size: 14px;
}

.pack-list__title {
  margin-bottom: 10px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}

.pack-list__text {
  line-height: 1.71;
}

.pack-list__item {
  width: 100%;
}

.pack-list__item::before {
  display: block;
  content: '';
  width: 100%;
  height: 120px;
  border-radius: 4px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  background-repeat: no-repeat;
  background-position: center;
}

.pack-list__item:nth-child(1)::before {
  background-image: url(../images/svg-icons/antenna.svg);
}

.pack-list__item:nth-child(2)::before {
  background-image: url(../images/svg-icons/clock.svg);
}

.pack-list__item:nth-child(3)::before {
  background-image: url(../images/svg-icons/diagram.svg);
}

.pack-list__item:nth-child(4)::before {
  background-image: url(../images/svg-icons/astronaut.svg);
}

@media screen and (min-width: 768px) {
  .pack-list__item {
    width: 50%;
  }
}

@media screen and (min-width: 1200px) {
  .pack {
    padding-bottom: 0;
  }
  .pack-list__item {
    width: 25%;
  }
}

.benefits {
  display: none;
}

@media screen and (min-width: 1200px) {
  .benefits {
    display: flex;
  }
  .benefits__item {
    width: calc(100% / 3);
    position: relative;
  }
  .benefits__title {
    position: absolute;
    bottom: 15px;
    left: 15px;
    right: 15px;
    padding-top: 27px;
    padding-bottom: 27px;
    color: #ffffff;
    background-color: rgba(47, 48, 58, 0.8);
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    text-transform: uppercase;
  }
}

.member {
  padding-bottom: 24px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
}

.member__img {
  margin-bottom: 30px;
}

.member__name, .member__pos {
  font-size: 16px;
  text-align: center;
}

.member__name {
  margin-bottom: 10px;
  font-weight: 500;
}

.member__pos {
  margin-bottom: 16px;
}

.socials {
  display: flex;
}

.socials__item:not(:last-child) {
  margin-right: 10px;
}

.socials-icon {
  fill: currentColor;
}

.socials__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #afb1b8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials__link:hover, .socials__link:focus {
  color: #ffffff;
  background-color: #2196f3;
}

.member .socials {
  justify-content: center;
}

.footer-socials__link {
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover, .clients-link:focus {
  color: #2196f3;
  border: 1px solid #2196f3;
}

.clients-logo {
  fill: currentColor;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer .address-block,
.socials-block {
  margin-right: 30px;
  width: 270px;
}

.address {
  margin-top: 20px;
  margin-bottom: 9px;
  color: #ffffff;
  font-weight: 400;
}

.contacts__link_second {
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__link_second:hover, .contacts__link_second:focus {
  color: #2196f3;
}

.address-block .contacts {
  flex-direction: column;
  align-items: flex-start;
}

.address-block .contacts__item:not(:last-child) {
  margin-bottom: 9px;
}

.subscribe-title {
  display: block;
  margin-bottom: 20px;
  color: #ffffff;
  line-height: 1.14;
  text-transform: uppercase;
}

.subscribe-block {
  margin-right: auto;
}

.subscribe-form {
  display: flex;
}

.subscribe-form__input {
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  margin-right: 12px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: var(--footer-bg-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.subscribe-form__input::placeholder {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-form__button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.send-icon {
  margin-left: 10px;
  fill: currentColor;
}

.backdrop {
  position: fixed;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden .modal {
  transform: scale(0, 0);
}

.modal {
  position: relative;
  margin: auto;
  width: 528px;
  padding: 40px;
  background-color: #ffffff;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close {
  position: absolute;
  right: 8px;
  top: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #ffffff;
}

.close__icon {
  fill: #000000;
}

.close:hover .close__icon,
.close:focus .close__icon {
  fill: #2196f3;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-wrap,
.comment-wrap {
  position: relative;
}

.input-wrap {
  margin-bottom: 28px;
}

.label {
  display: block;
}

.label__icon {
  position: absolute;
  top: 11px;
  left: 16px;
  fill: #212121;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.label__text {
  position: absolute;
  top: 12px;
  left: 42px;
  transition: top 250ms cubic-bezier(0.4, 0, 0.2, 1), left 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input {
  height: 40px;
  width: 100%;
  padding: 12px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.input:hover,
.input:focus,
.comment:hover,
.comment:focus {
  border: 1px solid #2196f3;
  outline-color: #2196f3;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.label:focus-within,
.input:hover ~ .label__icon,
.input:hover ~ .label__text,
.comment:hover + .label__text,
.comment:focus + .label__text {
  color: #2196f3;
  fill: #2196f3;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input:hover ~ .label__text,
.input:focus ~ .label__text,
.input:not(:placeholder-shown) ~ .label__text {
  top: -18px;
  left: 16px;
  transition: top 250ms cubic-bezier(0.4, 0, 0.2, 1), left 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment-wrap {
  margin-bottom: 20px;
}

.comment {
  height: 120px;
  width: 100%;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.comment + .label__text {
  top: 12px;
  left: 16px;
}

.comment:hover + .label__text,
.comment:focus + .label__text,
.comment:not(:placeholder-shown) + .label__text {
  top: -18px;
  transition: top 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.policy-link {
  color: #2196f3;
  text-decoration: underline;
}

.label-checkbox {
  display: inline-block;
  margin-bottom: 30px;
  cursor: pointer;
}

.checkbox {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  position: absolute;
}

.label-checkbox::before {
  content: ' ';
  display: inline-block;
  vertical-align: text-top;
  width: 16px;
  height: 15px;
  background-image: url(../images/svg-icons/off.svg), url(../images/svg-icons/on.svg);
  background-size: contain, 0;
  background-origin: content-box;
}

.checkbox:focus + .label-checkbox::before {
  outline: 2px solid #2196f3;
}

.checkbox:checked + .label-checkbox::before,
.checkbox:checked:focus + .label-checkbox::before {
  background-size: 0, contain;
  outline: 0;
}

.submit-btn {
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
}

.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter__item {
  padding: 6px 22px;
  border: 0;
  border-radius: 4px;
  background-color: #f5f4fa;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  text-align: center;
}

.filter__item:hover,
.filter__item:focus {
  background-color: #2196f3;
  color: #ffffff;
  cursor: pointer;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 3px 1px rgba(0, 0, 0, 0.1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter__item:not(:last-child) {
  margin-right: 8px;
}

/* Оформление списка карточек*/
.project__link {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project__link:hover,
.project__link:focus {
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
}

.project__content {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 24px;
  padding-left: 24px;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

.project__title {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project__category {
  color: #757575;
  font-size: 16px;
  line-height: 1.87;
}

.project__wrap {
  position: relative;
  overflow: hidden;
}

.project__desc {
  position: absolute;
  transform: translateY(0);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 24px;
  background-color: rgba(33, 150, 243, 0.9);
  color: #ffffff;
  font-size: 18px;
  line-height: 1.56;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project__link:hover .project__desc,
.project__link:focus .project__desc {
  transform: translateY(-100%);
}
/*# sourceMappingURL=main.css.map */