.member {
  padding-bottom: 24px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;

  background-color: $white-color;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);

  &__img,
  &__img-mob,
  &__img-tab {
    margin-bottom: 30px;
    width: 100%;
  }

  &__name,
  &__pos {
    font-size: 16px;
    text-align: center;
  }

  &__name {
    margin-bottom: 10px;
    font-weight: 500;
  }

  &__pos {
    margin-bottom: 16px;
  }

  &__img,
  &__img-tab {
    display: none;
  }

  &__img-mob {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .member__img-tab {
    display: block;
  }
  .member__img-mob {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .member__img {
    display: block;
  }
  .member__img-tab {
    display: none;
  }
}
