.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: $dark-bg-color;

  &-container {
    display: flex;
    align-items: baseline;
  }
}

.footer .address-block,
.socials-block {
  margin-right: 30px;
  width: 270px;
}

.address {
  margin-top: 20px;
  margin-bottom: 9px;
  color: $white-color;
  font-weight: 400;
}

.contacts__link_second {
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.address-block .contacts {
  flex-direction: column;
  align-items: flex-start;
}

.address-block .contacts__item:not(:last-child) {
  margin-bottom: 9px;
}

.subscribe-title {
  display: block;
  margin-bottom: 20px;

  color: $white-color;

  line-height: 1.14;
  text-transform: uppercase;
}

.subscribe-block {
  margin-right: auto;
}

.subscribe-form {
  display: flex;
}

.subscribe-form__input {
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  margin-right: 12px;

  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;

  color: $white-color;
  background-color: var(--footer-bg-color);

  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.subscribe-form__input::placeholder {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}

.subscribe-form__button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.send-icon {
  margin-left: 10px;
  fill: currentColor;
}
