.header {
  border-bottom: 1px solid #ececec;
  position: relative;

  &__container {
    padding: 16px 15px;
    display: flex;
    align-items: center;
  }
}



@media screen and (min-width: 768px) {
  .header {
    position: static;
   
    &__container {
      padding: 21px 15px;
      
    }
  }
}

@media screen and (min-width: 1200px) {
  .header {
    &_main {
      border-bottom: 0;
    }

    &__container {
      display: flex;
      padding-top: 24px;
      padding-bottom: 24px;
    }
  }
  .header__container .contacts {
    margin-left: auto;
  }
  .header__container .contacts__item:not(:last-child) {
    margin-right: 30px;
  }
}
