.hero {
  display: flex;
  margin-left: auto;
  margin-right: auto;

  padding: 118px 15px;

  background-color: $dark-bg-color;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.8),
      rgba(47, 48, 58, 0.8)
    ),
    url(../../../images/hero-bg/hero-mob.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media screen and (min-device-pixel-ratio: 2),
  screen and (-webkit-min-device-pixel-ratio: 2),
  screen and (-o-min-device-pixel-ratio: 2/1),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
          background-image: linear-gradient(
            rgba(47, 48, 58, 0.8),
            rgba(47, 48, 58, 0.8)
          ),
      url(../../../images/hero-bg/hero-mob-x2.jpg);
   }

  &-block {
    margin: auto;
  }

  &__title {
    margin-bottom: 30px;

    color: $white-color;

    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;

    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
  }

  &__button {
    margin-left: auto;
    margin-right: auto;
  }
}



@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.8),
        rgba(47, 48, 58, 0.8)
      ),
      url(../images/hero-bg/hero-tablet.jpg);

      @media screen and (min-device-pixel-ratio: 2),
      screen and (-webkit-min-device-pixel-ratio: 2),
      screen and (-o-min-device-pixel-ratio: 2/1),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
              background-image: linear-gradient(
                rgba(47, 48, 58, 0.8),
                rgba(47, 48, 58, 0.8)
              ),
          url(../images/hero-bg/hero-tablet@2x.jpg);
       }
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(
      rgba(47, 48, 58, 0.8),
      rgba(47, 48, 58, 0.8)
    ),
    url(../images/hero-bg/hero-desk.jpg);

    max-width: 1920px;

    padding-top: 200px;
    padding-bottom: 200px;

    @media screen and (min-device-pixel-ratio: 2),
    screen and (-webkit-min-device-pixel-ratio: 2),
    screen and (-o-min-device-pixel-ratio: 2/1),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
            background-image: linear-gradient(
              rgba(47, 48, 58, 0.8),
              rgba(47, 48, 58, 0.8)
            ),
        url(../../../images/hero-bg/hero-desk@2x.jpg);
     }

    &__title {
      font-size: 44px;
      line-height: 1.36;
    }
  }
}
