.pack {
  padding-bottom: 0;

  &-list__item {
    width: 25%;
  }

  &-list__title {
    margin-bottom: 10px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
  }

  &-list__text {
    font-size: 14px;
    line-height: 1.71;
  }
}
.pack-list__item {
  &::before {
    display: block;
    content: '';
    height: 120px;
    border-radius: 4px;
    margin-bottom: 30px;

    background-color: var(--secondary-bg-color);
    background-repeat: no-repeat;
    background-position: center;
  }

  &:nth-child(1)::before {
    background-image: url(../images/svg-icons/antenna.svg);
  }

  &:nth-child(2)::before {
    background-image: url(../images/svg-icons/clock.svg);
  }
  &:nth-child(3)::before {
    background-image: url(../images/svg-icons/diagram.svg);
  }
  &:nth-child(4)::before {
    background-image: url(../images/svg-icons/astronaut.svg);
  }
}
