.section {
  padding-top: 94px;
  padding-bottom: 94px;

  &__title {
    margin-bottom: 50px;

    font-size: 36px;
    font-weight: 700;
    line-height: 1.17;
    text-align: center;
  }

  &_secondary {
    background-color: $secondary-bg-color;
  }
}
