html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

address {
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;

  margin: 0;

  background-color: $white-color;
  color: $primary-text-color;

  font-family: $base-font;
  letter-spacing: 0.03em;
  font-size: 14px;

  min-width: 320px;
  overflow-y: auto;
}

header,
footer {
  flex: 0 0 auto;
}

main {
  flex: 1 0 auto;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.link {
  display: inline-block;
  text-decoration: none;
}

.title {
  color: $title-text-color;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
